<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/static/admin/images/favicon.ico">
	<title> {{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/admin/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Icons -->
    <link href="/static/admin/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/admin/css/style.css" rel="stylesheet">

</head>
<body>
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2">
				<h1 class="site-title">
					<a href="index.html">
						<em class="fa fa-rocket"></em>
						 OLYMPIC RESULT APP
					 </a>
				 </h1>

				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
					<em class="fa fa-bars"></em>
				</a>
				<ul class="nav nav-pills flex-column sidebar-nav">
					<li class="nav-item">
						<a class="nav-link active" href="{{url_for('admin_dashboard')}}">
							<em class="fa fa-dashboard"></em>
							Dashboard <span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('register_athlete')}}">
							<em class="fa fa-calendar-o"></em>
							Register Athlete
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('register_country')}}">
							<em class="fa fa-bar-chart"></em>
							Register Country
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('register_stadium')}}">
							<em class="fa fa-hand-o-up"></em>
							Register Stadium
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('register_sport_event')}}">
							<em class="fa fa-hand-o-up"></em>
							Register Sport Events
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="forms.html">
							<em class="fa fa-pencil-square-o"></em>
							Athlete Details
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="forms.html">
							<em class="fa fa-pencil-square-o"></em>
							Update Sport Records
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="cards.html">
							<em class="fa fa-clone"></em>
							Add Admin
						</a>
					</li>
				</ul>
				<a href="{{url_for('logout')}}" class="logout-button">
					<em class="fa fa-power-off"></em>
					Signout
				</a>

				<a href="{{url_for('index')}}" class="home-button"> 
					<em class="fa fa-home"></em>
					BACK TO HOME 
				</a>
			</nav>
			<main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
				<header class="page-header row justify-center">
					<div class="col-md-6 col-lg-8" >
						<h1 class="float-left text-center text-md-left">
							Dashboard
						</h1>
					</div>
										
							
						
					
					<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right">
						<a class="btn btn-stripped dropdown-toggle" href="#"
						id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<img src="/static/admin/images/profile-pic.jpg"
						alt="profile photo" class="circle float-left profile-photo"
						width="50" height="auto">
						<div class="username mt-1">
							<h4 class="mb-1">Username</h4>
							<h6 class="text-muted">Super Admin</h6>
						</div>
						</a>
						<div class="dropdown-menu dropdown-menu-right"
						style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#">
							<em class="fa fa-user-circle mr-1"></em>
							View Profile
						</a>
						     <a class="dropdown-item" href="#">
									 <em class="fa fa-sliders mr-1"></em>
									 Preferences
								 </a>
						     <a class="dropdown-item" href="{{url_for('logout')}}">
									 <em class="fa fa-power-off mr-1"></em>
									 Logout
								 </a>
						</div>
					</div>
					<div class="clear"></div>
				</header>
				<section class="row">
					<div class="col-sm-12">
						<p>
						 {% with messages = get_flashed_messages() %}
						 {% if messages %}
						<ul>
								{% for message in messages %}
								<li> {{ message }}</li>
								{% endfor %}
						</ul>
						{% endif %}
						{% endwith %}
						</p>
						<section class="row mx-3">
							<div class="col-md-4"></div>
							<div class="col-md-8">

								 {% block content %}{% endblock %}

							</div>

						</section>


						<section class="row">
							<div class="col-12 mt-1 mb-4">
								Template by
								<a href="https://www.medialoot.com">Medialoot</a>
							</div>
						</section>
					</div>
				</section>
			</main>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/static/admin/dist/js/bootstrap.min.js"></script>

    <script src="/static/admin/js/chart.min.js"></script>
    <script src="/static/admin/js/chart-data.js"></script>
    <script src="/static/admin/js/easypiechart.js"></script>
    <script src="/static/admin/js/easypiechart-data.js"></script>
    <script src="/static/admin/js/bootstrap-datepicker.js"></script>
    <script src="/static/admin/js/custom.js"></script>
    <script>
	    var startCharts = function () {
	                var chart1 = document.getElementById("line-chart").getContext("2d");
	                window.myLine = new Chart(chart1).Line(lineChartData, {
	                responsive: true,
	                scaleLineColor: "rgba(0,0,0,.2)",
	                scaleGridLineColor: "rgba(0,0,0,.05)",
	                scaleFontColor: "#c5c7cc "
	                });
	            };
	        window.setTimeout(startCharts(), 1000);
	</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

	</body>
</html>
