{% extends "layout.html" %}

{% block content %}

<section id="landingPage">
    <div class="container">
        <div class="row fill-viewport align-items-center">
            <div class="col-12 text-center">
                <h1 class="text-white">THE CLASH OF WORLD TITANS</h1>
                <p class="lead text-white-70">
                    THE OLYMPICS IS A GAME OF GREAT NOBILITY.<br/> OVER 200 NATIONS COMPETE
                    BUT ONLY A FEW STAND OUT AND OTHERS SALUTE.
                </p>
                <a class="btn btn-primary" href="{{ url_for('result') }}" role="button"> Go To Medal Table </a> 
                <a class="btn btn-secondary" href="{{ url_for('admin_dashboard') }}" role="button"> Go To Admin Dashboard </a>
            </div>
                
            </div>
        </div>
    </div>
</section>


{% endblock %}
