{% extends "layout.html" %}

{% block content %}

<div class="container">
<div class="row">
<div class="Absolute-Center is-Responsive">
<div class="col-sm-12 col-md-10 col-md-offset-1">
<h1>Admin Login </h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}
        <br> {{ form.username(size=32,placeholder="Enter Your User name") }}
        <br> {% for error in form.username.errors %}
        <span style="color: red;"> [{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}
        <br> {{ form.password(size=32, placeholder="Enter valid password") }}
        <br> {% for error in form.password.errors %}
        <span style="color:red;"> [{{ error }}]</span>
        {% endfor %}
    </p>

    <p> {{form.remember_me() }} {{ form.remember_me.label }}</p>
    <p> {{ form.submit(class="btn btn-primary") }}</p>
</form>
</div>
</div>
</div>
</div>

{% endblock %}
